# Android Studio/IntelliJ
*.iml
/.idea/*
!.idea/inspectionProfiles
!.idea/codeStyles

# Build output
/build/
/captures/
/.externalNativeBuild/
/cxx/

# Gradle
.gradle/
/local.properties

# Kotlin
/.kotlin/

# Built JNI artifacts
/app/src/main/jniLibs/**/*.so
